/* Color palette
    #f6f2ee
    #98c7c9
    #56bad4
    #60a5d2
    #0099ff
*/


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}
header {
  background: linear-gradient(rgba(0, 153, 255, 0.35), rgba(0, 153, 255, 0.35)),
    url(./photos/road.jpg), no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  transition: 0.6s;
  /* background-color: #0099ff; */
  /* background-image: linear-gradient(90deg , #0099ff, #026bb1); */
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #0099ff;
  height: 8vh;
}

.nav__name {
  padding-top: 10px;
  font-size: 3em;
  font-family: 'Condiment', sans-serif;
  color: #f6f2ee;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav__item {
  list-style: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  transition-property: transform;
  transition-duration: 0.3s;
}
.nav__link {
  text-align: center;
  text-decoration: none;
  color: #f6f2ee;
  letter-spacing: 2px;
  font-size: 1.6em;
}

.nav__item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nav__burger {
  display: none;
}

.nav__burger div {
  width: 25px;
  height: 3px;
  background-color: #f6f2ee;
  margin: 5px;
  transition: all 0.3s ease;
}

.main {
  height: 200vh;
  width: 100%;
  background: #f9f8f9;
}

.banner {
  height: 90vh;
  width: 100%;
  /* background: linear-gradient(rgba(0, 153, 255, 0.35), rgba(0, 153, 255, 0.35)),
    url(./photos/road.jpg), no-repeat;
  background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin: auto;
  color: #f6f2ee;
}

.banner__container > * {
  margin-bottom: 10%;
}

.banner__header {
  font-size: 3.4em;
  letter-spacing: 2px;
}
.banner__text {
  line-height: 25px;
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
}

.banner__btns {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 50px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
  color: #f6f2ee;
  letter-spacing: 2px;
  transition-property: transform;
  transition-duration: 0.3s;
}
.banner__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.banner__btn:nth-child(1) {
  background-color: #56bad4;
}

.banner__btn:nth-child(2) {
  background-color: #98c7c9;
}

.banner__btn:nth-child(1):hover {
  background-color: #0099ff;
}

.banner__btn:nth-child(2):hover {
  background-color: #0099ff;
}

.banner__btnText {
  text-decoration: none;
  color: #f6f2ee;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.about__headerContainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  color:#324c6b
  
}

.about__header {
  font-size: 3.4em;
  letter-spacing: 2px;
  font-weight: 900;
  /* line-height: 12%; */
}

.about__subheader {
  font-size: 2em;
  letter-spacing: 2px;

  font-weight: 500;
}

.about__cardContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 75%;
  height: 70%;
  
}

.about__card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  height: 50%;
}

.about__card > i {

  font-size: 3.2em;
}

.about__icon {
  width: 15%;
  font-size: 3.2em;
  color: #cca172;
}

.about__textContainer {
  width: 85%;
  color: #324c6b;
}

.about__title {
  font-size: 1.7em;
  letter-spacing: 2px;
  font-weight: 800;
}

.about__description {
  margin-top: 2vh;
  word-spacing:-2px;
  text-justify: distribute;
text-align-last: left;
  font-size: 1.4em;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.crew {
  background-color: #324c6b;
  height: 100vh;
}



@media screen and (max-width: 1024px) {
  .nav__list {
    width: 70%;
  }
  .about { 
    height: 200vh;
  }
  .about__headerContainer {
    height: 10%;
  }
  .about__cardContainer {
    display: flex;
    flex-direction: column;
    height: 190%;
    
  }
  .about__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0px;
    height: 100vh;
    width: 50%;
    padding-top: 30px;
    background-color: #0099ff;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav__item {
    opacity: 0;
  }

  .nav__burger {
    display: block;
    cursor: pointer;
  }

  .nav__list--active {
    transform: translateX(0%);
  }
  /* TODO adjust burger cross after animation */
  .burger__line1--toggle {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .burger__line2--toggle {
    opacity: 0;
  }
  .burger__line3--toggle {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .about__card {
    width: 100%;
  }


  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}
